body {
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(45, 69, 81);
    color: white;
}

.intro {
    padding: 2vw 10px 2vw 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo  {
    height: 100px;
    display: flex;
}

.title  {
    font-size: min(max(32px, 4vw), 50px);
    display: flex;
    flex: 1;
    padding: 0 0 0 10px;
}

.tree {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: 10px;
}

.link .hidden {
    display: none;
}

.tree div {
    display: flex;
    font-size: min(max(14px, 4vw), 22px);
    text-align: left;
    
}

.tree > * {
    display: flex;
    flex-direction: column;
}

.button {
    background-color: rgb(74, 111, 130);
    transition: .4s;
    transform: scale(1.05);
}

.tree .description {
    color: rgb(252, 222, 30);
    font-size: .8em;
}

.color-retro {
    background-image: linear-gradient(to left, violet, indigo, rgb(76, 252, 76), yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.link img {
    height: 18px;
}


