body {
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(45, 69, 81);
    color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
};

.header {
    height: 30px;
    background-color:rgb(26, 32, 35);
}

.intro {
    padding: 2vw 10px 2vw 10px;
    max-width: 538px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo  {
    height: 80px;
    display: flex;
}

.title  {
    font-size: 2rem;
    display: flex;
    flex: 1;
    padding: 0 0 0 10px;
}

.tree {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: 10px;
}

.tree div {
    display: flex;
    font-size: min(max(14px, 4vw), 22px);
    text-align: left;
    
}

#topic-a {
    display: flex;
    flex-direction: column;
   
}

#topic-b {
    display: flex;
    flex-direction: column;
}

#topic-c {
    display: flex;
    flex-direction: column;
}

#topic-d {
    display: flex;
    flex-direction: column;
}

#topic-e {
    display: flex;
    flex-direction: column;
}

#topic-f {
    display: flex;
    flex-direction: column;
}

#atheism-desc {font-size: .9em}

#logic-desc {font-size: .9em}

#happiness-desc {font-size: .9em}

#theism-desc {font-size: .9em}

#conbuddha-desc {font-size: .9em}

#retro-desc {
    display: flex;
    font-size: .9em;
}

.color-retro-one {
    color: rgb(78, 234, 107);
}

.color-retro-two {
    color: rgb(234, 78, 161);
}

.button {
    background-color: rgb(74, 111, 130);
    transition: .4s;
    transform: scale(1.05);
}

.description {
    color: rgb(252, 222, 30);
}

.footer {
    display: flex;
    justify-content: space-between;
    height: 30px;
}